[Desktop Entry]
Version=0.5.0
Encoding=UTF-8
Name=dupli.back Backup Utility
Type=Application
GenericName=dupli.back
Comment=Advanced local and remote backup 
Icon=/usr/share/icons/gnome/scalable/actions/stock_save.svg
FilePattern=flyback;
Exec=/usr/share/dupliback/flyback.py
Terminal=false
StartupNotify=false
Categories=Application;System;
GenericName[en_GB]=Backup Utility

